@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/src/fonts/inter/Inter-Regular.ttf') format('truetype'); /* ajuste o caminho conforme necessário */
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242A45;
  font-family: 'Inter', sans-serif;
}